{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		{% if user %}
			<div class="titre">Bienvenue sur ta page profil ,
				{{ user.lastName }}
				{{ user.firstName }}

				<div class="reservations-table">
					<h2>Mes réservations</h2>
					<table>
						<thead>
							<tr>
								<th>Vehicule ID</th>
								<th>Nombre de sièges</th>
								<th>Couleur</th>
								<th>Prix par jour</th>
								<th>Marque</th>
								<th>Image</th>
							</tr>
						</thead>
						<tbody>
							{% for reservation in reservation %}
								<tr>
									<td>{{ reservation.vehicle_id }}</td>
									<td>{{ reservation.numberOfSeats }}</td>
									<td>{{ reservation.colorName }}</td>
									<td>{{ reservation.priceDay }}€</td>
									<td>{{ reservation.brandName }}</td>
									<td><img src="{{ reservation.image }}" alt="Image du véhicule" class="vehicle-image-small"></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			{% else %}
				<p>Utilisateur non connecté.</p>
			{% endif %}
			!</div>


	</div>


	<div class="container-stats">
		<div class="grey-box">
			<div class="grey-title">Changer de nom d'utilisateur</div>
			<form class="formulaire" action="/update-username" method="POST">
				<input class="input" type="text" name="oldusername" placeholder="Ancien nom d'utilisateur..." required/>
				<input class="input" type="text" name="newusername" placeholder="Nouveau nom d'utilisateur..." required/>
				<input class="input" type="text" name="newusernameconfirm" placeholder="Confirmer nouveau nom..." required/>
				<div>
					<button class="btn" type="submit">Confirmer</button>
				</div>
			</form>
		</div>

		<div class="grey-box">
			<div class="grey-title">Changer de mot de passe</div>
			<form class="formulaire" action="/update-password" method="POST">
				<input class="input" type="password" name="oldpassword" placeholder="Ancien mot de passe..." required/>
				<input class="input" type="password" name="newpassword" placeholder="Nouveau mot de passe..." required/>
				<input class="input" type="password" name="newpwdconfirm" placeholder="Confirmer nouveau mot de passe..." required/>

				<div class="">
					<button class="btn" type="submit">Confirmer</button>
				</div>
			</form>
		</div>
	</div>


	<div class="center">
		<form action="/delete-account" onsubmit="if(!confirm('Es-tu sûr.e de vouloir nous quitter ?')){return false;}">
			<button type="submit" class="btn">Supprimer mon compte</button>
		</form>
	</div>
	<div class="center">
		<button class="btn-logout">
			<a href="/disconnect">deconnexion</button>
		</a>
	</a>
</div>{% endblock %}
