{% extends "base.html.twig" %}
{% block body %}

	<h2>MARQUE</h2>

	<form action="/addBrand?brand={{ brand.text }}" method="POST">
		<label for="brandName">Ajouter une marque :
		</label>
		<input type="text" id="brandName" name="brandName" required>
		<input type="submit" value="Ajouter">
	</form>

	<table>
		<tr>
			<th>
				BRAND
			</th>
			<th>
				update
			</th>
			<th>
				delete
			</th>

		</tr>

		{% for brand in brandForm %}
			<tr>
				<td>{{ brand.text }}</td>
				<td>
					<button>
						<form action="/updateBrand?brand={{ brand.text }}" method="POST">
							<label for="brandName">Modifier le nom de la marque:
								{{ brand.text }}</label>
							<input type="text" id="brandName" name="brandName" required>
							<input type="submit" value="modifier">
						</form>
					</button>
				</td>
				<td>
					<button>
						<a href="/deleteBrand?brand={{ brand.text }}">delete</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>
	<h2>nombre de place</h2>
	<form action="/addnbofseat?nbOfseat={{ nbOfseat.nb_of_seat_int }}" method="POST">
		<label for="nbOfseat">Ajouter un nombre de place :
		</label>
		<input type="text" id="brandName" name="nbOfseatname" required>
		<input type="submit" value="Ajouter">
	</form>
	<table>
		<tr>
			<th>
				nombre de place :
			</th>
			<th>
				update
			</th>
			<th>
				delete
			</th>

		</tr>

		{% for nbOfseat in nbofseatForm %}

			<tr>
				<td>{{ nbOfseat.nb_of_seat_int }}</td>
				<td>
					<button>
						<form action="/updatenbOfseat?nbOfseat={{ nbOfseat.nb_of_seat_int }}" method="POST">
							<label for="nbOfseat">Modifier le nom de la marque:
								{{nbOfseat.nb_of_seat_int }}</label>
							<input type="text" id="nbOfseat" name="nbOfseat" required>
							<input type="submit" value="modifier">
						</form>
					</button>
				</td>
				<td>
					<button>
						<a href="/deletenbofseat?nbOfseat={{ nbOfseat.nb_of_seat_int }}">delete</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>


	<h2>couleurs</h2>

	<form action="/createcolor?color={{ color.text }}" method="POST">
		<label for="brandName">Ajouter une marque :
		</label>
		<input type="text" id="color" name="color" required>
		<input type="submit" value="Ajouter">
	</form>
	<table>
		<tr>
			<th>
				color
			</th>
			<th>
				update
			</th>
			<th>
				delete
			</th>

		</tr>


		{% for color in colorsForm %}
			<tr>
				<td>{{ color.text }}</td>
				<td>
					<button>
						<form action="/updatecolor?color={{ color.text }}" method="POST">
							<label for="colorName">Modifier le nom de la marque:
								{{ color.text }}</label>
							<input type="text" id="color" name="color" required>
							<input type="submit" value="modifier">
						</form>
					</button>
				</td>
				<td>
					<button>
						<a href="/deletecolor?color={{ color.text }}">delete</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>


	<h2>Users</h2>

	<h2>Ajouter un Utilisateur</h2>

	<form action="/adminadduser" method="post">
		<label for="phoneNumber">Numéro de téléphone:</label><br>
		<input type="tel" id="phoneNumber" name="phoneNumber"><br>
		<label for="lastName">Nom de famille:</label><br>
		<input type="text" id="lastName" name="lastName" required><br>
		<label for="firstName">Prénom:</label><br>
		<input type="text" id="firstName" name="firstName" required><br>
		<label for="email">Email:</label><br>
		<input type="email" id="email" name="email" required><br>
		<label for="password">Mot de passe:</label><br>
		<input type="password" id="passwordUser" name="passwordUser" required><br>
		<input type="submit" value="Ajouter l'utilisateur">
	</form>

	<table>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Admin</th>
			<th>Email</th>
			<th>Téléphone</th>
			<th>Password</th>
			<th>Actions</th>
		</tr>
		{% for user in userForm %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.firstName }}</td>
				<td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.phoneNumber }}</td>
				<td>{{ user.passwordUser }}</td>
				<td>
					<!-- Bouton pour ouvrir le formulaire de modification -->
					<button onclick="document.getElementById('editForm-{{ user.id }}').style.display='block'">Modifier</button>

					<!-- Formulaire de modification -->
					<div id="editForm-{{ user.id }}" style="display:none;">
						<form action="/updateUser?id={{ user.id }}" method="POST">
							<input type="text" name="lastName" value="{{ user.lastName }}" placeholder="nom" required>
							<input type="text" name="firstName" value="{{ user.firstName }}" placeholder="prenom" required>
							<input type="email" name="email" value="{{ user.email }}" placeholder="email" required>
							<input type="text" name="phoneNumber" value="{{ user.phoneNumber }}" placeholder="telephone" required>
							<input type="password" name="passwordUser" placeholder="mot de passe" required>
							<p>rendre cette utilisateur admin</p>
							<input type="checkbox" name="isAdmin" value="1" {% if user.isAdmin %} checked {% endif %}>
							<input type="submit" value="Sauvegarder">
						</form>
					</div>

					<!-- Bouton pour supprimer l'utilisateur -->

					<button>
						<a href="/deleteUser?id={{ user.id }}">delete</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>


	<h2>Vehicule</h2>
	<h2>Ajouter un Véhicule</h2>
	<form action="/adminAddVehicle" method="post">
		<label for="nbOfSeat">Nombre de sièges:</label><br>
		<select id="nbOfSeat" name="nbOfSeat_id" required>
			{% for seat in seats %}
				<option value="{{ seat.id }}">{{ seat.nb_of_seat_int }}</option>
			{% endfor %}
		</select><br>

		<label for="color">Couleur:</label><br>
		<select id="color" name="color_id" required>
			{% for color in colors %}
				<option value="{{ color.id }}">{{ color.text }}</option>
			{% endfor %}
		</select><br>

		<label for="brand">Marque:</label><br>
		<select id="brand" name="brand_id" required>
			{% for brand in brands %}
				<option value="{{ brand.id }}">{{ brand.text }}</option>
			{% endfor %}
		</select><br>

		<label for="priceDay">Prix par jour:</label><br>
		<input type="number" id="priceDay" name="priceDay" required step="0.01"><br>

		{# <label for="image">URL de l'image:</label><br>
		<input type="text" id="image" name="image" required><br> #}

		<input type="submit" value="Ajouter le véhicule">
	</form>


	<table>
		<tr>
			<th>ID</th>
			<th>Marque</th>
		</tr>
		{% for vehicle in carsForm %}
			<tr>
				<td>{{ vehicle.id }}</td>
				<td>{{ vehicle.brand }}</td>
				
				<td>
					<!-- Bouton pour ouvrir le formulaire de modification -->
					<button onclick="document.getElementById('editForm-{{ vehicle.id }}').style.display='block'">Modifier</button>

					<!-- Formulaire de modification -->
					<div id="editForm-{{ vehicle.id }}" style="display:none;">
						<form action="/updateVehicle?id={{ vehicle.id }}" method="POST">
							<input type="text" name="brand" value="{{ vehicle.brand }}" required>
							<input type="text" name="model" value="{{ vehicle.model }}" required>
							<input
							type="number" name="year" value="{{ vehicle.year }}" required>
							<!-- Ajoutez d'autres champs si nécessaire -->
							<input type="submit" value="Sauvegarder">
						</form>
					</div>

					<!-- Bouton pour supprimer le véhicule -->
					<button>
						<a href="/deleteVehicle?id={{ vehicle.id }}">delete</a>
					</button>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}
